.bg{
    background-color: #151d47;
}


/* Slide bar styles */
.slide-bar {
    position: fixed;
    top: 0;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    background-color: #151d47;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.slide-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left;
}

.slide-bar a:hover {
    background-color: #575757;
}

/* container-main styles */
.container-main {
    margin-top: 64px; /* Ajusta el margen según el ancho de la slide bar */
}

.nav-link {
    color: white !important;
}
