.main-container {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 230px;
}


.mural {
    height: auto;
    width: 80vh;
    padding: 15px;
    box-shadow: grey;    
    background: #dddbdf;
    background: -webkit-linear-gradient(to right, rgb(166, 151, 182), rgb(147, 170, 209));
    background: linear-gradient(to right, rgb(87, 75, 117), rgba(37, 117, 252, 1))
}